.demos {
	margin: 0 0 40px 0;
	text-align: center;
}
.demos a {
	display: block;
    text-decoration: none;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
	transition: all 0.5s;
}
.no-mobile .demos a:hover {
	opacity: .5;
}
.demos .demo img {
    width: 100%;
    height: auto;
    border: solid 1px #eef1f1;
}
.demos .demo-title {
    font-family: 'Noto Serif', serif;
    font-size: 24px;
    line-height: 1.0em;
    font-weight: 700;
    color: #737d80;
    padding-top: 20px;
    padding-bottom: 20px;
}
.demos .demo-title span {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 1.0em;
    letter-spacing: 0;
    font-weight: 400;
}